<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        IgnorableNamespaces="uap rescap">

  <Identity
    Name="dongle.English-Listen-WinUI"
    Publisher="CN=9C81AFF4-83F7-49D8-BC9D-3FB4B60AE536"
    Version="1.1.26.0"/>

  <mp:PhoneIdentity PhoneProductId="0cce1389-0c1b-4ed6-baf8-815e429cb626" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>English-Listen-WinUI</DisplayName>
    <PublisherDisplayName>dongle</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication" >
      <uap:VisualElements
        DisplayName="English-Listen-WinUI"
        Description="English-Listen-WinUI"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.scale-200.png"
        Square150x150Logo="Assets\Square150x150Logo.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.scale-200.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.scale-200.png" />
      </uap:VisualElements>

    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
